#jaaj{
    list-style-type: none;
    color: black;
}
#hatter{
    /* background-color: white; */
    max-height: 70px;
    z-index: 10000;
    background-color: #181717;
}
.owborder{
    border: 2px solid black;
    border-radius: 4px;
}
.mycardb{
    width: 200px;
}
#proba{
    text-align: center !important;
}
/* @media screen and (min-width: 992px) {
    .navelso {
        margin: auto;
    }
}
@media screen and (max-width: 992px) {
    .navmasodik {
        margin: 0 auto 0 0;
    }
} */
#gyes{
    margin: 0 0 0 0;
}
.bolthatter{
    background-color: #181717;
}
.feka{
    background-color: black;
    border: 1px solid grey;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.feka:hover{
    background-color: rgba(255, 0, 0, 0.514);
}
.news{
    min-height: 500px;
}
.cardstyle1{
    border: 1px solid red;
    border-radius: 10px;
}
.cardstyle2{
    border: 1px solid yellow;
    border-radius: 10px;

}
.blau{
    background-color: blue;
}
.cardstyle{
    border: 1px solid blue;
    border-radius: 10px;
}
body{
    background-color: black;
}
.none{
    text-decoration: none;
}
@font-face{
    src: url(/Rainbow.ttf);
    font-family: r6;
    
}
.r6betü{
    font-family: r6;
}
#r6cim{
    font-size: xx-large;
}
.text-justify{
    text-align: justify;
}
.fekete{
    background-color: black;
}

