@import url('http://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.card-img-top{
    height: 250px;
}
.card-title{
    color: cornflowerblue;
}
.card{
    border: 1px yellow solid;
}
.footerlogo{
    height: 30px;
    width: 65px;
}
.footer{
    bottom: 0;
}
.valoranth{
    font-family: 'VALORANT', sans-serif;
}
.p-font{
    font-family: 'Oswald', sans-serif;
}
.vl {
    border-left: 6px solid rgb(182, 5, 5);
    height: 100%;
  }

  

  